{% extends 'base.html' %}
{% block title %}
F.A.Q.
{% endblock %}
{% block body %}
<h3 align="center">F.A.Q.</h3>
<p align="center">1. Прикрепите изображение подходящего формата. </p>
<p align="center">2. Отправьте изображение на обработку. Если что-то пойдет не так - сервер сообщит. </p>
<p align="center">3. После отправки изображения дождитесь результата не закрывая страницу браузера. При закрытии есть
вероятность не получить результат. При большой нагрузки сервера время ответа может достигать 3-4 минут</p>
<p align="center">4. Если у обработанной фотографии нет выделенных фрагментов - значит нейросети не удалось распознать
объекты на ней.</p>
<p align="center">5. Обнаруженные объекты на фотографии помечаются синим квадратом. Слева в верхнем углу помечается
тип объекта (например car - автомобиль, person - человек). Проценты после типа объекта означают вероятность правильного
распознавания компьютером. Другими словами, надпись "person 95.30%" предполагает, что компьютер практически уверен в том, что
в данном выделенном фрагменте находится человек</p>
<p align="center">6. Полный список распознаваемых объектов: человек, велосипед, автомобиль, мотоцикл, самолет,
    автобус, поезд, грузовик, лодка, светофор, пожарный гидрант, стоп-сигнал,
    паркомат, скамейка, птица, кот, собака, лошадь, овца, корова, слон, медведь, зебра,
    жираф, рюкзак, зонт, сумочка, галстук, чемодан, фрисби, лыжи, сноуборд,
    спортивный мяч, воздушный змей, бейсбольная бита, бейсбольная перчатка, скейтборд, доска для серфинга, теннисная ракетка,
    бутылка, бокал для вина, чашка, вилка, нож, ложка, миска, банан, яблоко, бутерброд, апельсин,
    брокколи, морковь, хот-дог, пицца, донат, торт, стул, диван, растение в горшке, кровать,
    обеденный стол, туалет, телевизор, ноутбук, мышь, пульт, клавиатура, сотовый телефон, микроволновая печь,
    духовка, тостер, раковина, холодильник, книга, часы, ваза, ножницы, мишка, фен,
    зубная щетка.
</p>
<p align="center">7. Использованные библиотеки для распознавания: ImageAI, Tensorflow.</p>
<p align="center">При появлении других вопросов - можно обратиться на почту korsunov2000@mail.ru</p>
    {% endblock %}