{% extends 'base.html' %}
{% block title %}
Глубокое обучение
{% endblock %}

{% block body %}
    <h4 align="center">Данный веб-сайт предназначен для демонстрации алгоритма глубокого машинного обучения.</h4>
    <h6 align="center"> Глубокое обучение представляет собой совокупность широкого семейства методов машинного обучения, основанных на имитации работы человеческого мозга в процессе обработки данных и создания паттернов, используемых для принятия решений.
        Как правило, глубокое обучение предназначено для работы с большими объемами данных и использует сложные алгоритмы для обучения модели.
        На больших датасетах глубокое обучение показывает более высокую точность результатов в сравнении с традиционным машинным обучением.</h6>
      <p align="center"><img src="static/images/graph.png" alt="График производительности" width="50%" class="frame">
      </p>
<h3 align="center">ᑕOᗰᑭᑌTEᖇ ᐯISIOᑎ</h3>
<p align="center">Глубокое обучение имеет достаточно обширную сферу применения. Здесь же мы рассматриваем лишь одно
из направлений - компьютерное зрение.</p>
<p align="center">На сегодняшний день системы распознавания образов основанные на глубоком обучении уже умеют давать более точные результаты,
    чем человеческий глаз.</p>
    <p align="center">На данном сайте представлена обученная модель распознавания объектов, изображенных на фотографии.
    Перед началом использования рекомендуется прочитать FAQ, а также рассмотреть примеры работы нейросети.</p>
{% endblock %}